header {
    background-color: blue;
    color: white;
}

.container{
    background-color: lightgray;
    color: black;
}

p{
    color: red;
}

.highlight{
    color: green;
}

.main content{
    background-color: yellow;
}

p{
    text-align: center;
}

a{
    text-decoration:none;
}

.underline{
    text-decoration: underline dashed;
}

.bold text{
    font-weight:bold;
}

.intro{
    font-weight: 300; 
    color:black
    
}

